@charset "UTF-8";

$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

// Respond above.
@mixin respond-above($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
  
        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);
    
        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }
  
    // If the breakpoint doesn't exist in the map.
    } @else {
        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
  
        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);
    
        // Write the media query.
        @media (max-width: $breakpoint-value) {
            @content;
        }
    
        // If the breakpoint doesn't exist in the map.
    } @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

.side-nav {
    background-color: $blue;

    @include respond-above(sm) {
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        z-index: 999;
        max-width: 22%;
    }
}

// html, body, .container-fluid, .row, .side-nav {
//     @include respond-above(sm) {
//         height: 100%;
//     }
// }

nav a, nav a:hover, nav a:focus {
    color: inherit;
    text-decoration: none;
}

.nav-dropdown {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    color: inherit;

    &:focus {
        border: none;
    }

    &::after {
        content: "⯅";
    }

    &:not(.active)::after {
        content: "⯆";
    }
}

.nav-dropdown-container {
    display: none;
    padding-left: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

.side-nav-button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.32875rem;
    line-height: 1;

    @include respond-above(sm) {
        display: none;
    }

    &:hover, &focus {
        text-decoration: none;
    }
}

.side-nav-button-image {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.side-nav-collapse {
    transition: height 2s;
    -webkit-transition: height 2s;
    display: block;
}

.side-nav-collapse:not(.show) {
    height: 0px;
}

#search {
    width: 100%;
}